#root {
 margin: 0;
 padding: 0;
 text-align: center;
 box-sizing: border-box;
}

body {
 background-color: rgb(255, 255, 255);
 color: rgb(19, 18, 18);
}

.addTask {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.task {
 display: flex;
 justify-content: center;
}

li,
li > button {
 margin: 0.3rem;
}

.App {
 /* display: flex; */
}

.inputArea {
 display: flex;
 flex-direction: column;
 justify-self: center;
 align-content: center;
}
