.about__container {
 grid-template-columns: repeat(1, 1fr);
 /* justify-content: space-between; */
 align-items: center;
 column-gap: 4rem;
}

.about__info {
 display: flex;
 flex-wrap: wrap;
 flex: 1 1;
 justify-content: space-evenly;
 margin-bottom: var(--mb-3);
}

.about__info > .about__box {
 background-color: var(--container-color);
 border: 1px solid rgba(0, 0, 0, 12);
 border-radius: 0.75rem;
 text-align: center;
 padding: 1rem 1.25rem;
 flex: 50%;
 max-width: 12rem;
 box-shadow: var(--shadow);
}

.about__icon {
 font-size: 1.5rem;
 color: var(--title-color);
 margin-bottom: var(--mb-0-5);
}

.about__title {
 font-size: var(--small-font-size);
 font-weight: var(--font-medium);
}

.about__subtitle {
 font-size: var(--smaller-font-size);
}

.about__description {
 
}

.about__data {
 text-align: center;
}

/* BREAK POINTS */
@media screen and (max-width: 992px) {
 .about__img {
  width: 220px;
 }

 .about__box {
  padding: 0.75rem 0.5rem;
  flex-basis: 50%;
  flex-grow: 0;
 }

 .about__data {
  text-align: center;
 }

 .about__info {
  justify-content: space-evenly;
 }

 .about__description {
  padding: 0 5rem;
  margin-bottom: 2rem;
 }
}

@media screen and (max-width: 576px) {
 .about__box {
  flex-basis: 100%;
 }
 .about__description {
  padding: 0;
 }
}

@media screen and (max-width: 350px) {
 .about__box {
  flex-basis: 100%;
 }
}
